<div class="container">
<button class="btn btn-danger backButton" role="button" data-bs-toggle="button" (click)="getWeather()">Get Mood</button>
</div>
<h4 *ngIf="getError()" class="errorButton">An error occurred! Please check the Date and try again</h4>
<div *ngIf="!getError()" class="container">
    <div class="card">

        <h2>ANTALYA</h2>
        <div class="container1">
            <h1 class="weather">{{ weather }}</h1>
        </div>
            <div class="date">
                <ul [ngSwitch]="getMood()">
                    <li *ngSwitchCase="'Sick'">
                        <div icon="snowy" data-label="Chilly">
                            <div class="breezy">
                                <ul>
                            
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>	
                                </ul>
                                <span class="cloudr"></span>
                            </div>
                        </div>
                        <span class="table2 mood">{{ getMood() }}</span>
                    </li>
                    <li *ngSwitchCase="'Depressed'">
                        <div class="night">
                            <span class="moon"></span>
                            <span class="spot1"></span>
                            <span class="spot2"></span>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>	
                                </ul>
                            
                            </div>
                            <span class="table2 mood">{{ getMood() }}</span>
                        </li>
                    <li *ngSwitchCase="'Low'">
                        <div class="stormy">
                            <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            </ul>
                            <span class="snowe"></span>
                            <span class="snowex"></span>
                            <span class="stick"></span>
                            <span class="stick2"></span>
                        </div>
                        <span class="table2 mood">{{ getMood() }}</span>
                    </li>
                    <li *ngSwitchCase="'Cheerful'">
                        <div class="cloudy">
                            <span class="cloud"></span>
                            <span class="cloudx"></span>
                        </div>
                        <span class="table2 mood">{{ getMood() }}</span>
                    </li>
                    <li *ngSwitchCase="'Angry'">
                        <div class="hot">
                            <span class="sun"></span>
                            <span class="sunx"></span>
                        </div>
                        <span class="table2 mood">{{ getMood() }}</span>
                    </li>
                </ul>
            </div>
    </div>
</div>
  <p class="designer">Made by Sepehr Latifi Azad</p>